.todo-list li label .description {
	word-break: break-all;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
	font-weight: 400;
	color: #4d4d4d;
}

.todo-list li.completed label .description {
	color: black;
}

.todo-list li .icon {
	position: absolute;
	top: 0;
	bottom: -3px;
	width: 30px;
	height: 40px;
	font-size: 34px;
	color: #cc9a9a;
	margin: auto 0 11px;
	transition: color 0.2s ease-out;
	cursor: pointer;
}

.todo-list li .icon:hover {
	color: #af5b5e;
}

.todo-list li .icon-destroy {
	right: 10px;
}

.todo-list li .icon-destroy:after {
	content: '×';
}

.todo-list li .icon-edit {
	font-size: 19px;
	right: 45px;
}

.todo-list li .icon-edit:after {
	content: '✎';
}

.todo-list li .edit {
	display: none;
}

.todo-list li.editing:last-child {
	margin-bottom: -1px;
}   
.todo-list li.completed label .description.done {
    text-decoration: line-through;
    color: gray;
}
.todo-list li.completed label .description.important {
    color: yellow;
}	

.todo-list li .icon-play {
	width: 18px;
	height: 18px;
	font-size: 15px;
	padding: 0;
	margin: 0;
}
.todo-list li .icon-play:hover {
	color: #CC9A9A;
}
.todo-list li .icon-pause {
	font-size: 18px;
	width: 26px;
	height: 26px;
	margin: 0 0 0 0;
	padding: 0;
}
.icon-play:after {
	content: '▶';
}
.icon-pause:after {
	content: '⏸';
}
.timer {
	font-size: 13px;
	color: gray;
	text-align: end;
	width: 100px;
	margin-right: 5px;
	text-align: start;
}
.toodo {
	width: 220px;
}